.flag
{
    border: black solid 2px;
    height: 300px;
    width: 600px;
    font-size: 0;
}
.first
{
    height: 300px;
    width: 200px;
    background-color: #006845;
    display: inline-block;
}
.second
{
    height: 300px;
    width: 200px;
    background-color:#ffffff ;
    display: inline-block;
    text-align: center;
}
.third
{
    height: 300px;
    width: 200px;
    background-color: #cf0921;
    display: inline-block;
}
.icon
{
    margin-top: 100px;
    margin-bottom: 100px;
}